<h2>Farmers Market Search</h2>

<div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img
      src="https://cdn2.lamag.com/wp-content/uploads/sites/6/2019/07/anne-preble-SAPvKo12dQE-unsplash-scaled.jpg"
      style="width:100%"
    />
    <div class="text">Find communal sustainable markets</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img
      src="https://www.capitolcorridor.org/blogs/get_on_board/wp-content/uploads/2018/05/Shopping-Businesses-Shopping-Farmers-Markets-Old-Oakland-Farmers-Market-141114_0721_Old_Oakland_Farmers_Market_PRINT-ONLY.jpg.jpg"
      style="width:100%"
    />
    <div class="text">Advertise your own solo farming market</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img
      src="https://ecologycenter.org/wp-content/uploads/2019/09/FullyBelly2-2-e1569262325913.jpg"
      style="width:100%"
    />
    <div class="text">Support your local community</div>
  </div>

</div>
<br />

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>