<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Dashboard</title>
  </head>

  <body>
    <header class="flex-column min-100-vh">
      <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/home"
                >Home</a>
              </li>
              {{#if logged_in}}
                <li>
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li>
                  <a class="nav-link logout" id="logout-link">Logout</a>
                </li>
              {{else}}
                <li>
                  <a class="nav-link" href="/login">Login</a>
                </li>
              {{/if}}
            </ul>
            {{#if logged_in}}
              <form action="/search" class="d-flex">
                <input
                  class="form-control me-2"
                  name="zipcode"
                  type="search"
                  id="search-input"
                  placeholder="Zip Code"
                  aria-label="Search"
                />
                <button
                  class="btn btn-outline-success search-btn"
                  type="submit"
                >
                  Search
                </button>
              </form>
            {{/if}}
          </div>
        </div>
      </nav>
    </header>
    <main class="col-auto content">
      {{{body}}}
      {{#if logged_in}}
        <div class="add-button">
          <div class="row dashboard-card text-center mx-auto">
            <div class="card col-4 mx-auto">
              <a
                class="addition"
                href="/add"
                class="text-center text-dark mx-auto"
              >➕ Add Market</a>
            </div>
          </div>
        </div>
      {{/if}}
    </main>
    <footer class="fixed-bottom navbar-dark bg-dark text-light">
      <!-- Copyright -->
      <div class="footer-copyright text-center p-4">© 2021 Copyright:
        <a href="https://github.com/rmmccar92" class="text-light"></a>
      </div>

    </footer>
    {{#if logged_in}}
      <script src="JS/logout.js"></script>
    {{/if}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    ></script>
  </body>

</html>