<div class="greeting">
  <h1>Welcome to the Farmer's Martket Search Page!</h1>
</div>

{{#if logged_in}}
  <div class="add-button">
    <div class="row dashboard-card text-center mx-auto">
      <div class="card col-4 mx-auto">
        <a href="/add" class="text-center text-dark mx-auto">➕ Add Market</a>
      </div>
    </div>
  </div>
{{/if}}