<div class="card">
  <h2 class="card-header text-white text-center">
    {{market_name}}</h2>
  <div class="card-body p-2 m-2">
    <p class="card-text">{{address}} {{zipcode}}</p>
    <div>{{hours}}</div>
  </div>
</div>