<main class="container mt-5">
  <div class="card">
    <h2 class="card-header">
      <a class="userMarkets" href="#">{{market_name}}</a></h2>
    <div class="card-body p-2 m-2">
      <p class="card-text">{{address}} {{zipcode}}</p>
      <div>{{hours}}</div>
    </div>
  </div>
</main>
{{#if logged_in}}
  <script src="../../JS/logout.js"></script>
{{/if}}