<header class="text-center site-head">
  <h1 class="app-title">{{first_name}}'s Dashboard</h1>
  {{#if markets.length}}
  <div class="col-md-6 mx-auto card-header">
    <h3>Your Markets:</h3>

    {{#each markets as |market|}}
    <div class="row mb-2  market-list">
      <div class="col-md-8">
        <h4><a class="userMarkets" href="dashboard/market/{{market.id}}">{{market_name}}</a></h4>
      </div>
      <div class="col-md-4 align-middle">
        <button class="btn btn-sm btn-danger" data-id="{{market.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="add-button">
          <div class="row dashboard-card text-center mx-auto">
            <div class="card col-4 mx-auto card-back">
              <a
                class="addition"
                 href="/add"
                class="text-center text-dark mx-auto"
              ><i class="fas fa-plus-circle fa-2x icon"></i>
              <p class="add-text">Add Market</p></a>
            </div>
          </div>
        </div> 
  {{/if}} 
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{#if logged_in}}
  <script src="../../JS/delete-market.js"></script>
  {{/if}}
</header>