body {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
  background-color: #553b28;
  color: white;
  text-align: center;
}

main {
  margin-bottom: 30px;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.navbar-light {
  color: white;
}

a {
  color: unset;
  cursor: pointer;
}

nav {
  background-color: #374f3f;
  border: 3px solid #374f3f;
  width: 100%;
}

.nav-link {
  color: white !important;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: #5f8a6d !important;
}

#search {
  color: white;
  border: 1px solid white;
}

#search:hover {
  background-color: #5f8a6d;
}

#search-form {
  padding-top: 0.3rem;
}

.card {
  background-color: #8f3d19;
  border: 1px solid white;
  margin: 10px;
  text-align: justify;
}

.card-header {
  background-color: #723014;
}

.col-auto {
  align-content: center;
}

.market-list {
  background-color: #8f3d19;
  border: 1px solid white;
  margin: 10px;
}

.userMarkets {
  text-decoration: none;
}

.userMarkets:hover {
  text-decoration: none;
  color: #5f8a6d;
}

.addition {
  color: white;
  text-decoration: none;
  text-align: center;
}

.addition:hover {
  color: #5f8a6d;
}

.submit {
  background-color: #374f3f;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.submit:hover {
  background-color: #5f8a6d;
  border: 1px solid white;
}

.btn-danger {
  background-color: #374f3f;
  border: 1px solid white;
}

.btn-danger:hover {
  background-color: #5f8a6d;
  border: 1px solid white;
}

.footer-copyright {
  background-color: #374f3f;
}
