body {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
  background-color: #f7ebd9;
  color: black;
  text-align: center;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

main {
  margin-bottom: 30px;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.navbar-light {
  color: white;
}

a {
  color: unset;
  cursor: pointer;
}

.navbar {
  background-color: #1e3325;
}

#myCarousel {
  margin-bottom: 2em;
}

.nav-link {
  color: white !important;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: #5f8a6d !important;
}

#search {
  color: white;
  border: 1px solid white;
}

<<<<<<< HEAD
#search:hover {
  background-color: #5f8a6d;
=======
#btn:hover {
  background-color: #44614e;
>>>>>>> styling-changes
}

#search-form {
  padding-top: 0.3rem;
}

.content {
  padding-top: 5em;
}

.card {
  background-color: #8864557e;
  border: 1px solid white;
  margin: 10px;
  text-align: justify;
}

.card-header {
  background-color: #723014;
}

.col-auto {
  align-content: center;
}

.market-list {
  background-color: #ca5b2b;
  border: 1px solid white;
  margin: 10px;
}

.userMarkets {
  text-decoration: none;
}

.userMarkets:hover {
  text-decoration: none;
  color: #5f8a6d;
}

.addition {
  color: white;
  text-decoration: none;
  text-align: center;
}

.addition:hover {
  color: #5f8a6d;
}

.submit {
  background-color: #374f3f;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.submit:hover {
  background-color: #5f8a6d;
  border: 1px solid white;
}

.btn-danger {
  background-color: #374f3f;
  border: 1px solid white;
}

.btn-danger:hover {
  background-color: #5f8a6d;
  border: 1px solid white;
}

.footer-copyright {
  background-color: #374f3f;
}
